body {
  background-image: url("assets/background.png");
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: dimgray;
}

@font-face {
  font-family: "Comfortaa";
  src: url("assets/Comfortaa-VariableFont_wght.ttf") format("truetype")
}
