.rank-priorities {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.rank-priorities .column {
    width: 30%;

}

.droppable-col {
    width: 100%;
    background-color: lavenderblush;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;    
}

.item {
    border: 1px solid skyblue;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 7px;
}

.item.drop-animating {
    background-color: aquamarine;
}