.delete-timetable-popup-content {
    padding: 0.5em;
    display: flex;
    align-items: center;
    color: #F50057;
}

.delete-timetable-popup {
    margin-top: 0.5em;
    .MuiPopover-paper {
        border-radius: 0.2em;

    }
}