.timetable-container {
  font-family: Comfortaa;
  margin-bottom: 1em;
  width: 100%;
}

.timetable-slot {
  display: inline-flex;
  align-items: center;
  border-bottom: 0.5px solid #c4c4c4;
  border-right: 0.5px solid #c4c4c4;
  overflow: hidden;
  font-size: 2vh;
}

.timetable-time-slot {
  border-top: 0.5px solid #c4c4c4;
  div {
    font-weight: bold;
  }
}

.timetable-day-slot {
  border-left: 0.5px solid #c4c4c4;
  // text-align: center;
  justify-content: center;
  div {
    position: relative;
    font-weight: bold;
  }
}

.timetable-buttons-container {
  display: flex;
  padding-top: 1em;
  justify-content: flex-end;
  text-align: center;
  font-weight: bolder;
}

.timetable-button {
  margin-left: 0.5em;
}
